<header>
  <nav class="flex sm:flex-column lg:flex-row justify-content-between">
    <div class="flex flex sm:flex-column lg:flex-row">
      <img
        class="logo"
        src="https://cdn3.iconfinder.com/data/icons/geek-3/24/Autobots_transformers_robot_movie-512.png"
        alt="logo"
      />
      <ul
        class="list-none flex sm:flex-column sm:align-items-center lg:flex-row"
      >
        <li class="nav-item p-2">menu</li>
        <li class="nav-item p-2">Catalog</li>
        <li class="nav-item p-2">parts</li>
      </ul>
    </div>
    <ul class="list-none flex sm:flex-column sm:align-items-center lg:flex-row">
      <li class="nav-item p-2">login</li>
      <li class="nav-item p-2">sign up</li>
    </ul>
  </nav>
</header>
