<app-header></app-header>
<section>
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-6">
            <div class="text-center align-items-center lg:text-left p-3 mt-5 border-round-sm font-bold">
                <h1 class="mt-5">Built from steel, powered by justic</h1>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <p-button label="Submit" />
            </div>
        </div>
        <div class="col-12 md:col-12 lg:col-6 ">
            <div class="text-center p-3 border-round-sm  font-bold">
                <img class="w-full" src="../../../assets/autobot.png" alt="hero-image">
            </div>
        </div>
    </div>
</section>