<div class="grid grid-nogutter  text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Create the screens </span>
            <div class="text-6xl text-primary font-bold mb-3">your visitors deserve to see</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="https://i.pinimg.com/originals/b6/3f/a0/b63fa0115c4506483932370025bc7237.gif" alt="">
        <!-- <p:graphicImage name="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExOGtibjJteG9sdXpqdGdxaGtkdXRia2Q2MWMyYTRpbTN2NzlkcmtqNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/dZNvzbWjona4V5UpH1/giphy.gif" library="primeblocks-app" alt="Image"
                        styleClass="md:ml-auto block md:h-full"
                        style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"/> -->
    </div>
</div>